<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %white(%date{ISO8601}) traceId=%mdc{trace_id:--} spanId=%mdc{span_id:--} %highlight(%-5level) [%blue(%thread)] %green(%logger): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>
